// MAIN COLORS

$primaryColor: #e0af8c;
$accentColor: #2b6fbf;
$blackColor: #070707;
$lightColor: #f0f8ff;

// ACCENT COLORS

$accentColor1: #f6fafd;
$accentColor2: #e1effa;
$accentColor3: #cae5f7;
$accentColor4: #b2d9f3;
$accentColor5: #97cbef;
$accentColor6: #77bbea;
$accentColor7: #51a8e4;
$accentColor8: #1d90dc;
$accentColor9: #0070c5;
$accentColor10: #004174;

//GREY COLORS

$greyColor1: #f9f9fa;
$greyColor2: #eceeef;
$greyColor3: #dee1e3;
$greyColor4:#cfd3d7;
$greyColor5: #bfc5c9;
$greyColor6: #adb4b9;
$greyColor7: #98a1a8;
$greyColor8: #7f8b93;
$greyColor9: #606e79;
$greyColor10: #374047;

// PRIMARY COLORS

$primaryColor1: #fdf9f6;
$primaryColor2: #f9ebe3;
$primaryColor3: #f4dcce;
$primaryColor4: #efccb8;
$primaryColor5: #e9ba9e;
$primaryColor6: #dea787;
$primaryColor7: #c69579;
$primaryColor8: #aa8068;
$primaryColor9: #866552;
$primaryColor10: #4e3b30;

// MARGIN, PADDING and GAPS

$marginDesktop: 20px;
$marginMobile: 10px;
$paddingDesktop: 20px;
$paddingMobile: 10px;
$gapDesktop: 20px;
$gapMobile: 10px;

