// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

@import "variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

%mobile-photos-display {
  display: flex;
  flex-wrap: wrap;
  gap: $gapMobile;
}

%desktop-photos-display {
  display: flex;
  flex-wrap: wrap;
  gap: $gapDesktop;
}

@mixin mobile-photos-unit-display($url, $width, $height) {
  background-image: $url;
  background-size: cover;
  background-position: center;
  width: $width;
  height: $height;
  display: flex;
  align-items: flex-end;
}

%mobile-photos-unit-description {
  font-size: 16px;
  background-color: rgba($color: $primaryColor1, $alpha: 0.8);
  padding: $paddingMobile;
}
body {
  background-color: $primaryColor1;
  font-family: "Inter", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

header {
  overflow: hidden;
  background-image: url(../images/myImg/322932448_603553828241847_6233234788884693655_n.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  nav {
    background-color: rgba($color: $blackColor, $alpha: 0.6);
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: $paddingMobile;

    // TRYING MENU DROPDOWN
    .dropdown {
      position: relative;
      input[type="checkbox"] {
        display: none;
        &:checked ~ ul {
          display: block;
        }
      }
      ul {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        width: 120px;
        background-color: rgba($color: $blackColor, $alpha: 0.6);

        li {
          list-style-type: none;
          margin: 10px 0;

          a {
            text-decoration: none;
            // padding: 10px;
            display: block;
          }
        }
      }
      label {
        .right-nav-logo {
          cursor: pointer;
          img {
            height: 10vh;
            // width: auto;
          }
        }
      }
    }
    // END OF DROPDOWN MENU
    .left-nav {
      a {
        span {
          display: block;
        }
      }
    }
    // .right-nav-logo {
    //   img {
    //     height: 25px;
    //   }
    // }
    .right-nav {
      display: none;
    }

    a {
      color: $primaryColor1;
      text-decoration: none;
      margin: 0 10px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  #about {
    position: relative;
    z-index: 10;
    padding: $paddingMobile;
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 120%;
      height: 150%;
      background-image: url(../wireframe/Drawing\ 2\.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      opacity: 0.7;
      z-index: 0;
    }
    // background-color: rgba($color: $primaryColor1, $alpha: 0.6);
    padding: $paddingMobile;
    h3 {
      // font-size: 2vw;
      z-index: 2;
      position: relative;
      text-align: center;
    }

    p {
      z-index: 2;
      position: relative;
      // font-size: 2vw;
      text-align: center;
    }
  }
}

#farm {
  h3 {
    margin: $marginMobile;
    text-align: center;
    position: relative;
  }

  h3:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
  }
  .farm-photos {
    @extend %mobile-photos-display;
    .barn {
      @include mobile-photos-unit-display(
        url(../images/farm/StockSnap_49FA273DDD.jpg),
        100%,
        50vh
      );
      .barn-description {
        p {
          @extend %mobile-photos-unit-description;
        }
      }
    }
    .mule {
      @include mobile-photos-unit-display(
        url(../images/farm/StockSnap_BWRCGCOECB.jpg),
        100%,
        50vh
      );
      .mule-description {
        p {
          @extend %mobile-photos-unit-description;
        }
      }
    }
    .cow {
      @include mobile-photos-unit-display(
        url(../images/farm/StockSnap_QZZC02VYSS.jpg),
        100%,
        50vh
      );
      .cow-description {
        p {
          @extend %mobile-photos-unit-description;
        }
      }
    }
    .rooster {
      @include mobile-photos-unit-display(
        url(../images/farm/StockSnap_V9YD0J883E.jpg),
        100%,
        50vh
      );
      .rooster-description {
        p {
          @extend %mobile-photos-unit-description;
        }
      }
    }
  }
}

#alpacas {
  margin: $marginMobile;
  h3 {
    margin: $marginMobile 0;
    text-align: center;
    position: relative;
  }
  h3:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
  }

  .alpaca-photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: $gapMobile;
    width: 100%;
    // div {
    //   flex: 1;
    //   position: relative;
    //   div {
    //     position: absolute;
    //     top: 50%;
    //     left: 50%;
    //     width: 100%;
    //     height: 100%;
    //     transform: translate(-50%, -50%);
    //     z-index: 2;
    //     span {
    //       position: absolute;
    //       top: 0;
    //       left: 50%;
    //       transform-origin: 0% 100%;
    //       height: 50%;
    //       color: white;

    //     }
    //     .text-arc:nth-child(1) {
    //       transform: rotate(0deg);
    //     }
    //     .text-arc:nth-child(2) {
    //       transform: rotate(30deg);
    //     }
    //     .text-arc:nth-child(3) {
    //       transform: rotate(60deg);
    //     }
    //     .text-arc:nth-child(4) {
    //       transform: rotate(90deg);
    //     }
    //     .text-arc:nth-child(5) {
    //       transform: rotate(120deg);
    //     }
    //     .text-arc:nth-child(6) {
    //       transform: rotate(150deg);
    //     }
    //   }
    img {
      width: calc((100% / 3) - ((2 * $gapMobile) / 3));
      aspect-ratio: 1/1;
      object-fit: cover;
      border-radius: 50%;
      transition: 0.15s;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

#tours {
  margin: $marginMobile;
  h3 {
    margin: $marginMobile 0;
    text-align: center;
    position: relative;
  }
  h3:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
  }
  .tours-descriptions {
    display: flex;
    flex-direction: column;
    gap: $gapMobile;

    div {
      padding: $paddingMobile;
      background-color: $greyColor1;
      box-shadow: 0 0 5px;
      border-radius: $borderRadiusMin;
      .day-tour {
        // font-size: 5vw;
        text-align: end;
        position: relative;
        margin-bottom: 10px;
      }

      .day-tour:before {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        width: 100%;
        height: 0.5px;
        background-color: black;
      }
      p {
        // font-size: 2vw;
        margin: $marginMobile 0;
      }
      ul {
        li {
          list-style-type: none;
          margin: $paddingMobile 0px;
          font-style: italic;
          text-align: center;
          // font-size: 2vw;
        }
      }
      .prices-starting {
        text-align: center;
        // font-size: 5vw;
        margin: $marginDesktop 0;
      }
    }
  }
}

#stay {
  h3 {
    margin: $marginMobile;
    text-align: center;
    position: relative;
  }

  // THE LINE

  h3:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
  }

  .stay-photos {
    @extend %mobile-photos-display;
    .enjoy-the-nature {
      .highlighted-text {
        color: $greyColor9;
        text-align: end;
        padding: 20px;
        position: relative;
        z-index: 0;
      }
      .highlighted-text:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        background-image: url(../svg/brush_stroke_primaryColor2_1.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        opacity: 0.9;
        z-index: -1;
      }
      @include mobile-photos-unit-display(
        url(../images/accommodation/StockSnap_XTRAJDQIPV.jpg),
        100%,
        50vh
      );
      flex-direction: column;
      justify-content: space-between;
      .enjoy-the-nature-description {
        p {
          @extend %mobile-photos-unit-description;
        }
      }
    }
    .relax {
      .highlighted-text {
        color: $greyColor1;
        text-align: end;
        padding: 20px 40px;
        position: relative;
        z-index: 0;
      }
      .highlighted-text:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        background-image: url(../svg/brush_stroke_primaryColor2_2.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        opacity: 0.7;
        z-index: -1;
      }
      @include mobile-photos-unit-display(
        url(../images/accommodation/StockSnap_BD0AC07780.jpg),
        100%,
        50vh
      );
      flex-direction: column;
      justify-content: space-between;
      .relax-description {
        p {
          @extend %mobile-photos-unit-description;
        }
      }
    }
    .cabine {
      .highlighted-text {
        color: $greyColor10;
        text-align: end;
        padding: 20px 40px;
        position: relative;
        z-index: 0;
      }
      .highlighted-text:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        background-image: url(../svg/brush_stroke_primaryColor2_3.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        opacity: 0.7;
        z-index: -1;
      }
      @include mobile-photos-unit-display(
        url(../images/accommodation/StockSnap_T0BHAFEFFR.jpg),
        100%,
        50vh
      );
      flex-direction: column;
      justify-content: space-between;
      .cabine-description {
        p {
          @extend %mobile-photos-unit-description;
        }
      }
    }
  }
}

.book-now {
  margin: calc(2 * $marginDesktop);
  #book-now-description {
    font-style: italic;
    // font-size: 2vw;
    text-align: center;
  }
}

.button-regular {
  display: block;
  padding: 10px 30px;
  margin: $marginDesktop auto;
  border: none;
  box-shadow: 0 0 3px black;
  border-radius: $borderRadiusMin;
  background-color: $accentColor5;
  color: $greyColor1;
  cursor: pointer;
  transition: 0.15s ease;
  &:hover {
    transform: scale(1.1);
  }
}

.button-fancy {
  background-image: url(../wireframe/Drawing\ 3.png);
  background-size: 100% 100%;
  background-color: $primaryColor1;
  width: 180px;
  aspect-ratio: 2/1;
  border: none;
  display: block;
  margin: $marginDesktop auto;
  cursor: pointer;
  &:hover {
    animation: ringing-bells 1s infinite ease forwards;
    position: relative;
  }
  @keyframes ringing-bells {
    0% {
      transform: rotate(10deg);
    }
    25% {
      transform: rotate(-10deg);
    }
    50% {
      transform: rotate(10deg);
    }
    75% {
      transform: rotate(-10deg);
    }

    100% {
      transform: rotate(10deg);
    }
  }
}

#shop {
  h3 {
    margin: $marginMobile;
    text-align: center;
    position: relative;
  }
  h3:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
  }
  .shop-food {
    @extend %mobile-photos-display;
    .coffee {
      @include mobile-photos-unit-display(
        url(../images/farm-shop/StockSnap_THXU08ODDE.jpg),
        100%,
        50vh
      );
      .coffee-description {
        p {
          @extend %mobile-photos-unit-description;
        }
      }
    }
    .bread {
      @include mobile-photos-unit-display(
        url(../images/farm-shop/StockSnap_NKU48AAAWF.jpg),
        100%,
        50vh
      );
      .bread-description {
        p {
          @extend %mobile-photos-unit-description;
        }
      }
    }
    .fruits {
      @include mobile-photos-unit-display(
        url(../images/farm-shop/StockSnap_E4J3BP6ZNJ.jpg),
        100%,
        50vh
      );
      .fruits-description {
        p {
          @extend %mobile-photos-unit-description;
        }
      }
    }
  }
}
#contact {
  box-shadow: 0 0 5px black;
  border-radius: $borderRadiusMin;
  margin: $marginMobile;
  padding: $paddingMobile;
  background-color: $greyColor1;
  h3 {
    text-align: center;
    position: relative;
  }
  form {
    div {
      label {
        display: block;
        margin-top: $marginMobile;
        font-size: smaller;
      }
      input,
      textarea {
        width: 100%;
        resize: vertical;
      }
    }
  }
}

footer {
  height: 5vh;
  background-color: purple;
  color: $primaryColor1;
  display: flex;
  align-items: center;
  justify-content: center;
}

// START OF 768px SCREENS

@media (min-width: 768px) {
  header {
    background-image: url(../images/myImg/alpaca-7169203_1920.jpg);
    nav {
      .right-nav-logo {
        display: none;
      }
      .right-nav {
        display: inline-block;
      }
    }
    #about {
      background-color: rgba($color: $primaryColor1, $alpha: 0.6);
      padding: $paddingMobile;
      &:before {
        display: none;
      }
      h3 {
        font-size: medium;
      }
      p {
        font-size: medium;
      }
    }
  }

  #farm {
    scroll-snap-align: start;
    // height: 100vh;
    h3 {
      margin: $marginDesktop 0;
    }
    h3:before {
      content: "";
      position: absolute;
      bottom: -(calc($marginDesktop/4));
      height: 1px;
    }
    margin: $marginDesktop;
    .farm-photos {
      gap: $gapDesktop;
      .barn {
        @include mobile-photos-unit-display(
          url(../images/farm/StockSnap_49FA273DDD.jpg),
          calc(50% - $gapDesktop/2),
          50vh // calc((100vh - 65.625px) / 2 - $gapDesktop/2)
        );
        .barn-description {
          p {
            font-size: medium;
          }
        }
      }
      .mule {
        @include mobile-photos-unit-display(
          url(../images/farm/StockSnap_BWRCGCOECB.jpg),
          calc(50% - $gapDesktop/2),
          50vh // calc((100vh - 65.625px) / 2 - $gapDesktop/2)
        );
        .mule-description {
          p {
            font-size: medium;
          }
        }
      }
      .cow {
        @include mobile-photos-unit-display(
          url(../images/farm/StockSnap_QZZC02VYSS.jpg),
          calc(50% - $gapDesktop/2),
          50vh // calc((100vh - 65.625px) / 2 - $gapDesktop/2)
        );
        .cow-description {
          p {
            font-size: medium;
          }
        }
      }
      .rooster {
        @include mobile-photos-unit-display(
          url(../images/farm/StockSnap_V9YD0J883E.jpg),
          calc(50% - $gapDesktop/2),
          50vh // calc((100vh - 65.625px) / 2 - $gapDesktop/2)
        );
        .rooster-description {
          p {
            font-size: medium;
          }
        }
      }
    }
  }

  #alpacas {
    scroll-snap-align: start;
    margin: $marginDesktop;
    h3 {
      margin: $marginDesktop 0;
    }
    h3:before {
      content: "";
      position: absolute;
      bottom: -(calc($marginDesktop/4));
      height: 1px;
    }
    .alpaca-photos {
      gap: $gapDesktop;
      img {
        width: calc((100% / 6) - ((5 * $gapDesktop) / 6));
      }
    }
  }
  #tours {
    scroll-snap-align: start;
    margin: $marginDesktop;
    h3 {
      margin: $marginDesktop 0;
    }
    h3:before {
      content: "";
      position: absolute;
      bottom: -(calc($marginDesktop/4));
      height: 1px;
    }
    .tours-descriptions {
      flex-direction: row;
      gap: $gapDesktop;
      div {
        padding: $paddingDesktop;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
        h4 {
          font-size: medium;
        }
        p {
          font-size: small;
          margin: $marginMobile 0;
        }
        ul {
          li {
            font-size: small;
          }
        }
        h5 {
          font-size: medium;
          margin: $marginMobile 0;
        }
      }
    }
  }

  #stay {
    height: 100vh;
    margin: $marginDesktop;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    h3 {
      margin: $marginDesktop 0;
    }
    h3:before {
      content: "";
      position: absolute;
      bottom: -(calc($marginDesktop/4));
      height: 1px;
    }
    .stay-photos {
      gap: $gapDesktop;
      .enjoy-the-nature {
        @include mobile-photos-unit-display(
          url(../images/accommodation/StockSnap_XTRAJDQIPV.jpg),
          calc(100% / 3 - $gapDesktop * 2 / 3),
          50vh
        );
        .enjoy-the-nature-description {
          p {
            font-size: medium;
          }
        }
      }
      .relax {
        @include mobile-photos-unit-display(
          url(../images/accommodation/StockSnap_BD0AC07780.jpg),
          calc(100% / 3 - $gapDesktop * 2 / 3),
          50vh
        );
        .relax-description {
          p {
            font-size: medium;
          }
        }
      }
      .cabine {
        @include mobile-photos-unit-display(
          url(../images/accommodation/StockSnap_T0BHAFEFFR.jpg),
          calc(100% / 3 - $gapDesktop * 2 / 3),
          50vh
        );
        .cabine-description {
          p {
            font-size: medium;
          }
        }
      }
    }
    .book-now {
      margin: 0 calc($marginDesktop * 2);
      #book-now-description {
        font-size: small;
      }
    }
  }

  #shop {
    margin: $marginDesktop;
    h3 {
      margin: $marginDesktop 0;
    }
    h3:before {
      content: "";
      position: absolute;
      bottom: -(calc($marginDesktop/4));
      height: 1px;
    }
    .shop-food {
      gap: $gapDesktop;
      .coffee {
        @include mobile-photos-unit-display(
          url(../images/farm-shop/StockSnap_THXU08ODDE.jpg),
          calc(100% / 3 - $gapDesktop * 2 / 3),
          50vh
        );
        .coffee-description {
          p {
            font-size: medium;
          }
        }
      }

      .bread {
        @include mobile-photos-unit-display(
          url(../images/farm-shop/StockSnap_NKU48AAAWF.jpg),
          calc(100% / 3 - $gapDesktop * 2 / 3),
          50vh
        );
        .bread-description {
          p {
            font-size: medium;
          }
        }
      }

      .fruits {
        @include mobile-photos-unit-display(
          url(../images/farm-shop/StockSnap_E4J3BP6ZNJ.jpg),
          calc(100% / 3 - $gapDesktop * 2 / 3),
          50vh
        );
        .fruits-description {
          p {
            font-size: medium;
          }
        }
      }
    }
  }

  #contact {
    max-width: 50%;
    margin: calc($marginDesktop * 2) auto;
    padding: $paddingDesktop;
    h3 {
      text-align: center;
    }
    form {
      div {
        label {
          display: block;
          margin-top: $marginDesktop;
          font-size: smaller;
        }
      }
    }
  }
}
